:root {
    --color-primary:  #0A4D68;
    --color-secondary:  #123C69; 
    --color-accent:  #6BC5C7; 
    --color-dark-main:  #06283D; 
    --color-soft-bg:  #F0F5F9; 
    --color-TEXT:  #EAEAEA; 
    --color-TEXT-hitam:  #0D0D0D;
    --color-Deep-Ice-Blue:  #0E7490; 
    --color-Subtle-Midnight-Cyan:  #0F3A4A; 
    --color-Nordic-Blue: #1A5F7A; 
    --color-Glacier-Blue: #2E8A99; 
    --color-Cold-Slate-Teal: #3F8299; 
    --color-Soft-Arctic-Blue: #89C2D9; 
    --color-Elegant-Deep-Sky: #468FAF; 
    --color-Royal-Shadow-Navy: #1B263B; 
    --color-Steel-Calm-Blue: #415A77; 
    --color-Smokey-Ice-Grey: #778DA9; 
    --color-Polar-Soft-White: #D9EAF2; 
    --color-Faded-Frost-Blue: #C5D8E8; 
    --color-Muted-Arctic-Grey: #9DB4C0; 
    --kondisi-posisi:absolute;
}

.display-skill {
    display: flex;
    justify-content: center;    
    margin-top: 14rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-weight: bold;
}

.isi-skill {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1rem; */
    font-size: 3rem;
    width: 10rem;
    padding: 10px;
    background: var(--color-Polar-Soft-White);
    border-radius: 8px;
}

.isi-skill i {
    color: var(--color-Glacier-Blue);
    
}

.isi-skill .teks {
    font-size: 1.3rem;
    color: var(--color-TEXT-hitam);
}

.item-skill-1 {
    display: flex;
    gap:50rem;
}

.item-skill-2 {
    display: flex;
    gap: 40rem;
}

.item-skill-3 {
    display: flex;
    gap: 30rem;
    margin-top: 2rem;
}

.teks-skill {
    font-size: 2rem;
    color: var(--color-TEXT);
}