:root {
    --color-primary:  #0A4D68;
    --color-secondary:  #123C69; 
    --color-accent:  #6BC5C7; 
    --color-dark-main:  #06283D; 
    --color-soft-bg:  #F0F5F9; 
    --color-TEXT:  #EAEAEA; 
    --color-TEXT-hitam:  #0D0D0D;
    --color-Deep-Ice-Blue:  #0E7490; 
    --color-Subtle-Midnight-Cyan:  #0F3A4A; 
    --color-Nordic-Blue: #1A5F7A; 
    --color-Glacier-Blue: #2E8A99; 
    --color-Cold-Slate-Teal: #3F8299; 
    --color-Soft-Arctic-Blue: #89C2D9; 
    --color-Elegant-Deep-Sky: #468FAF; 
    --color-Royal-Shadow-Navy: #1B263B; 
    --color-Steel-Calm-Blue: #415A77; 
    --color-Smokey-Ice-Grey: #778DA9; 
    --color-Polar-Soft-White: #D9EAF2; 
    --color-Faded-Frost-Blue: #C5D8E8; 
    --color-Muted-Arctic-Grey: #9DB4C0; 
    --kondisi-posisi:absolute;
}

.display-project {
    margin-top: 10rem;
}

.judul-project {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.project {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.kotak1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    padding:2rem;
    border-radius: 8px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    background: var(--color-Polar-Soft-White);
}

.kotak2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    background: var(--color-Polar-Soft-White);

}

.kotak3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    background: var(--color-Polar-Soft-White);

}

.foto {
    width: 20rem;
    height: 15rem;
}

.sedikit-bio {
    color: var(--color-TEXT-hitam);
}